body {
    box-sizing: border-box;
    text-align: center;
    font-family: outfit, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: hsl(212, 45%, 89%);
}
.container {
    margin: 0 auto;
    max-width: 350px;
}
img {
    border-radius: 0.6rem;
    margin-bottom: 0.9rem;
    width: 100%;
}
.qrcode {
    padding: 1.2rem;
    padding-bottom: 2rem;
    margin: 0 auto;
    border-radius: 0.9rem;
    background-color: white;
    width: 100%;
    
}
p {
    color: hsl(216, 15%, 48%);
    font-weight: 400;
    font-size: 1.2rem;
}
 .h2 {
    margin: auto;
    max-width: 16rem;
    font-size: 1.3rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}
